<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<section>
  <h1>WORDS UP</h1>
    <% words.forEach(word => { %>
      <li><a href="/words/<%= word._id %>"><%= word.slang %></a>
      </li>
      <div><%= word.definitions[0] %></div>
      <div><%= word.definitions[1] %></div>
      <div><%= word.definitions[2] %></div>
      <div><%= word.definitions[3] %></div>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>