<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>

<main>
  <h1>WORDS UP</h1>
    <% words.forEach(word => { %>
      <li><a href="/words/<%= word._id %>" id="list-word"><%= word.slang %></a>
      </li>

    <% }) %>
  </ul>
  <h1>My Words</h1>
    <% words.forEach(word => { %>
      
      <li><a href="/words/<%= word._id %>" id="list-word"><%= word.slang %></a>
      </li>

    <% }) %>
  </ul>
</main>

<%- include('../partials/footer') %>