<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/words/show.css">
<script defer src="/scripts/words/show.js"></script>
<%- include('../partials/nav') %>
<main>
  <div id="header">
    <h3><%= word.owner.name %> wants to know if you heard of...</h3>
    <div>
      <% if (word.owner.equals(user?.profile._id)) { %>
        <a href="/words/<%= word._id %>/edit" id="edit-button">
          <button id="show-btn">Edit the Slang</button>
        </a>
        <form action="/words/<%= word._id %>?_method=DELETE" method="POST" id="delete-button">
          <button type="submit" id="show-btn">Delete the Slang</button>
        </form>
      <% } %>
    </div>
  </div>
  <h1><%= word.slang %>:</h1>
  <div>(make your guess below)</div>
  <table id="definitions">
    <tr>
      <td id="def-<%= questionOrder[numGen][0] %>">
        <%= word.definitions[questionOrder[numGen][0]] %>
      </td>
      <td id="def-<%= questionOrder[numGen][1] %>">
        <%= word.definitions[questionOrder[numGen][1]] %>
      </td>
    </tr>
    <tr>
      <td id="def-<%= questionOrder[numGen][2] %>">
        <%= word.definitions[questionOrder[numGen][2]] %>
      </td>
      <td id="def-<%= questionOrder[numGen][3] %>">
        <%= word.definitions[questionOrder[numGen][3]] %>
      </td>
    </tr>
  </table>
  
  <form 
      id="add-comment-form"
      action="/words/<%= word._id %>/comments"
      method="POST"
    >
      <label for="sentence-textarea" id>Write a sentence using this newly learned slang!:</label>
      <input type="text" name='sentence' id="sentence-textarea">
      <button type="submit" id="show-btn" class="add-sentence">Add Sentence</button>
    </form>
  
    <% if (word.comments.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Comment</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% word.comments.forEach(function(comment) { %>
            <tr>
              <td id="comments"><%= comment.createdAt.toLocaleDateString() %></td>
              <td id="comments"><%= comment.sentence %></td>
              <% if (word.owner.equals(user?.profile._id)) { %>
                <td id="comments" class="delete-comments">
                  <form action="/words/<%= word._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button id="delete-comment">X</button>
                  </form>
                </td>
              <% } %>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No one's written a sentence yet! Be the first!</h3>
    <% } %>
  
  <%- include('../partials/footer') %>
</main>